html, body, #cont {
	font-family: "Roboto","Helvetica Neue",Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

/* major sections */
#head {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	font-size: 1.8em;
	padding: 12px 10px 8px 10px;
	width: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0 5px 5px rgba(0,0,0, 0.3);
}

#map {
	width: 100%;
	min-width: 200px;
	height: 100%;
}

#info {
	display: none;
	position: absolute;
	top: 60px;
	right: 0;
	width: 20%;
	max-width: 400px;
	min-width: 200px;
	height: 100%;
	background-color: rgba(100,150,100,0.5);
}

/* generic tags */
p {
	margin: 0px;
	padding: 5px;
}

h3 {
	background-color: rgba(128, 175, 128, 0.4);
	font-size: 1.5em;
	padding: 5px;
}

h3 img {
	width: 23px;
	float: right;
	cursor: pointer; 
	margin:0px;
}

h3 img:hover {
	width: 27px;
	margin: -2px;
}

h3 img:active {
	width: 29px;
	margin: -3px;
}

/* minor classes and ids */
.mint {
	color: #666;
	font-size: 0.8em;
}

#warn {
	background-color: #ffa;
	margin-left: -5px;
	padding-left: 5px;
	line-height: 2em;
}

#legend {
	color: #666666;
	float: right;
	font-size: 0.5em;
	line-height: 2.8em;
	text-align: right;
	text-decoration: none;
	width: 100px;
	margin-right: 30px;
}

#legend a {
	text-decoration: none;
	color: #666;
}

#legend a:hover {
	text-decoration: underline;
}

/* form layout */
.leaflet-popup-content form {
	padding: 5px;
	height: 100px;
}

.leaflet-popup-content form p {
	line-height: 1.2em;
	padding: 0px;
}
.leaflet-popup-content input {
	left: 100px;
	position: absolute;
}
.leaflet-popup-content input[type="button"] {
	height: 30px;
}

/* leaflet over-ride */
.leaflet-top {
	top: 65px;
}

.leaflet-popup-content p {
	margin: 0px 30px 10px 5px;
	font-size: 1em;
}
